@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    min-height: 100vh;
    background-color: #F0F8FF;
    background-image: linear-gradient(340deg, #c4c8c7 0%, #F0F8FF 45%);
    font-family: 'Lato', sans-serif;
    color: black;
}

/* ---------------- Header and Navbar ------------------- */

.navbar {
    background-color: #86C5D8;
}

.nav-header {
    margin-bottom: 60px;
}

.navbar-brand {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav {
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-dark .navbar-toggler {
    border: none;
}

/* ------------------- Footer Bar ------------------- */

.footer-nav a {
    text-decoration: none;
    font-size: 2rem;
    color: white;
}

/* ----------------- Home Page Design -------------------- */

.home-page-title {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(72, 73, 73);
}

.home-page-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(72, 73, 73);
}

.category-heading {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: rgb(72, 73, 73);
}

.home-cards {
    background-color: rgb(32, 32, 32);
    border-radius: 25px;
}

.home-cards:hover {
    border: 4px solid white;
}

.post-title {
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

.post-title:hover {
    color: rgb(209, 209, 5);
}

.post-title-link {
    text-decoration: none;
}

.post-author {
    color: white;
}

.post-meta {
    color: white;
    padding: 25px 20px;
}

.post-image {
    height: 33vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 15px;
}

/* ----------------- Full Post View Design -------------------- */

.post-view-featured-image {
    height: 50vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    --bs-gutter-x: 0rem;
    display: inline-block;
    border: 3px solid black;
    border-radius: 25px;
}

.post-view-featured-image img {
    height: 100%;
    width: 100%;
}

.comments-card {
    background-color: transparent;
    border: none;
}

.login-prompt {
    font-size: 1.25rem;
}


/* ----------------- Review Page Design -------------------- */

.review-card {
    border-radius: 25px;
    border: 3px solid black;
    background-color: #CAE9F5;
}

.fa-star {
    color: gold;
}


/* ----------------- Create Review Page Design -------------------- */

.form-headings-font {
    font-family: 'Roboto', sans-serif;
}

.form-boxes {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
    background-color: #CAE9F5;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #CAE9F5;
    resize: none;
}

.radio-buttons {
    height: 25px;
    width: 25px;
    color: #CAE9F5;
    border-radius: 50%;
}


.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}


/* Media Queries */

@media only screen and (max-width: 600px) {

    .post-view-featured-image {
        height: 33vh;
        width: 95vw;
    }

    .post-view-featured-image img {
        height: 100%;
        width: 100%;
    }

    .home-page-description {
        display: none;
    }

    .login-prompt {
        font-size: 1rem;
    }
}