{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mb-3">
            <h3 class="category-heading">Exercise Articles</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row mb-3">
                {% for post in category.Exercise %}
                <div class="col-12 col-md-4">
                    <div class="card home-cards mb-3">
                        <div>
                                <div class="card-body">
                                    <a class="post-title-link" href="{% url 'post_full_view' post.slug %}">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top post-image" src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="A fitness Image">
                                    {% else %}
                                    <img class="card-img-top post-image" src=" {{ post.featured_image.url }} " alt="Fitness Image">
                                    {% endif %}
                                    <div>
                                        <p class="post-author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                                    <h2 class="post-title">{{ post.title }}</h2>
                                <hr>
                                <p class="card-text post-meta">{{ post.created_on }}</p>
                            </div>
                        </a>
                        </div>   
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

    {% endblock %}