{% extends 'base.html' %} {% block content %}

<div class="featured-image">
    <div class="container">
        <div class="row">
            <div class="post-featured-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
        <div class="post-view-title">
            <h1>
                {{ post.title }}
            </h1>
            <h5>
                {{ post.author }} | {{ post.created_on }}
            </h5>
        </div>
        <div class="post-likes">
            <strong><i class="far fa-heart"></i> {{ post.number_of_likes }} </strong>
        </div>
        <div class="post-view-content">
            <p>
                {{ post.content | safe }}
            </p>
        </div>
    </div>
</div>

{% endblock content %}