{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for review in post_list %}
                   <div class="col-md-4">
                       <div class="card">
                           <div class="image-container">
                                <div class="card-body">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80" alt="A barbell in a gym">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }} ">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author-section">Author: {{post.author }}</p>
                                    </div>
                                </div>
                                <a href="{% url 'post_full_view' post.slug %}" class="post-link">
                                    <h2 class="card-title">{{ post.title }}</h2>
                                </a>
                                <hr>
                                <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>{{ post.number_of_likes }}</p>
                        </div>
                   </div> 
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content%}