{% extends "base.html" %}

{% block content %}

<!------------ Review header and info -------------->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="home-page-title text-center my-4">
                The Review Zone
            </h1>
            <p class="home-page-description text-center mx-5 px-5 mb-5">
                Help others to find reliable sources for improving their health and fitness by giving honest feedback on gyms, organisations, trainers, websites or any other source that gave you help, guidance and motivation to achive your goals. 
            </p>
        </div>
    </div>


<!----------- To display all reviews  ----------------->

    <div class="row">
        <div class="col-12">
            <div class="row d-flex align-items-center">
                {% for review in review_list %}
                   <div class="col-12 col-md-4 my-3">
                        <div class="card review-card text-center">
                            <div>
                                <div class="">
                                Written by: {{ review.author }}
                                </div>
                            <div class="card-body">
                                <h4 class="card-title">{{ review.title }}</h4>
                                <h5 class="card-title">Location: {{ review.location }}</h5>
                                <p class="card-text">{{ review.reviewbody }}</p>
                                <h5 class="card-title">{{ review.rating }} <i class="fas fa-star"></i></h5>
                            </div>
                            <div class="text-muted">
                            {{ review.created_on }}
                            </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock content%}