{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for review in review_list %}
                   <div class="col-12 col-md-4">
                    <div class="card text-center">
                        <div class="card-header">
                          {{ review.author }}
                        </div>
                        <div class="card-body">
                          <h4 class="card-title">{{ review.title }}</h4>
                          <h5 class="card-title">{{ review.location }}</h5>
                          <p class="card-text">{{ review.reviewbody }}</p>
                          <h5 class="card-title">{{ review.rating }} <i class="fas fa-star"></i> </h5>
                        </div>
                        <div class="card-footer text-muted">
                          {{ review.created_on }}
                        </div>
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 card mb-4  mt-3 ">
            <div class="card-body">
                <!----------- To allow logged in users to review  ----------------->

                {% if reviewed %}

                <div class="alert alert-success" role="alert">
                    Thanks for leaving a review, it has been sent for approval.
                </div>

                {% else %}

                {% if user.is_authenticated %}

                <h3>Leave a review:</h3>
                <p>Reviewing as: {{ user.username }}</p>
                <form method="POST">
                    
                    <label for="title">{{ review.title }}Title:</label><br>
                    <input type="text" id="title" name="title"><br>
                    <label for="location">{{ review.location }}Location:</label><br>
                    <input type="text" id="location" name="location"><br>
                    <label for="review">{{ review.reviewbody }}Your Review:</label><br>
                    <input type="text" id="review" name="reviewbody"><br>
                    <input type="radio" id="1" name="rating" value="1">
                    <label for="rating">{{ review.rating }}1</label><br>
                    <input type="radio" id="2" name="rating" value="2">
                    <label for="rating">{{ review.rating }}2</label><br>
                    <input type="radio" id="3" name="rating" value="3">
                    <label for="rating">{{ review.rating }}3</label><br>
                    <input type="radio" id="4" name="rating" value="4">
                    <label for="rating">{{ review.rating }}4</label><br>
                    <input type="radio" id="5" name="rating" value="5">
                    <label for="rating">{{ review.rating }}5</label><br>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content%}